parameters:
    tmpDir: var/cache/ecs
    level: 8
    symfony:
        container_xml_path: '%rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml'

    scanDirectories:
        # In order to 'recognize' Twig functions in global scope
        - %currentWorkingDirectory%/vendor/twig/twig/src/Extension

includes:
	- vendor/phpstan/phpstan-symfony/extension.neon
	- vendor/phpstan/phpstan-doctrine/extension.neon